<!DOCTYPE HTML>

</html lang="es">

<html>
	<head>
		<title> {% block titulo %} Inicio {% endblock %} </title>
		{%block css%}
		<link rel="stylesheet" type="text/css" href="/media/css/estilos.css"/>
		{% endblock%}
		{% block bootstrap %}
			<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  			<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		{% endblock %}

		<script type="text/javascript" src="https://www.google.com/jsapi"></script>

		<script type="text/javascript">
			google.load("search", "1");
		</script>

		<script>
		function mostrarOtroPatron() {
    		var foo2 = document.getElementById("patron2");
    		var foo3 = document.getElementById("patron3");
    		var foo4 = document.getElementById("patron4");
    		var foo5 = document.getElementById("patron5");

    		console.log("done");

    		if (foo2.style.display == 'none'){
    			foo2.style.display = 'block';
    			return;
    		}

    		if (foo2.style.display == 'block' && foo3.style.display == 'none')
			{
				foo3.style.display = 'block';
				return;
			}

			if (foo3.style.display == 'block' && foo4.style.display == 'none')
			{
				foo4.style.display = 'block';
				return;
			}

			if (foo4.style.display == 'block')
			{
				foo5.style.display = 'block';
				return;
			}
		}
		</script>
		
	</head>
	<center><h1> Buscador </h1></center><br>	
	<body>
		{% block contenido %}
		{% endblock %}
		{% block footer %}
		{% endblock %}
	</body>
</html>