{%extends "search/base.html"%}

{% block titulo %}Buscador{% endblock %}
{% block contenido %}
	<script type="text/javascript"> 
		/*function addFields(){
			var container = document.getElementById("inputs");
			var div = document.createElement("div");
			div.innerHTML = "<label class="control-label col-md-4">Patron:</label>";
			//div.innerHTML = "<label class="control-label col-md-4" >Patron:</label>"
			container.appendChild(div);
		}*/
		/*$(function() { 
    		$(document).on('click', '.btn-add', function(e) { 
    			e.preventDefault();  
    			var controlForm = $('.controls form:first'), currentEntry = $(this).parents('.entry:first'), newEntry = $(currentEntry.clone()).appendTo(controlForm); 
    			newEntry.find('input').val(''); 
    			controlForm.find('.entry:not(:last) .btn-add') .removeClass('btn-add').addClass('btn-remove') .removeClass('btn-success').addClass('btn-danger') .html('<span class="glyphicon glyphicon-minus"></span>');
    			}
    		).on('click', '.btn-remove', function(e) { 
    			$(this).parents('.entry:first').remove();
    			e.preventDefault(); 
    			return false;
    			});
			}
		);*/

		$(function() { 
    		$(document).on('click', '.btn-add', function(e) { 
    			e.preventDefault();
    			var n = $('#inputs .entry').length;
    			if (n < 5){
    				var entry = $('#inputs'), currentEntry = $(this).parents('.entry:first')
    				var newEntry = $(currentEntry.clone()).appendTo(entry);
    				newEntry.find('input').val('');
    				newEntry.find('input').attr('name', 'patron' + (n+1));
    				entry.find('.entry:not(:last) .btn-add').removeClass('btn-add').addClass('btn-remove').removeClass('btn-success').addClass('btn-danger').html('<span class="glyphicon glyphicon-minus"></span>');
    				}
    			}
    		).on('click', '.btn-remove', function(e) { 
    			$(this).parents('.entry:first').remove();
    			e.preventDefault(); 
    			return false;
    			});
    	}
		);
	</script>

	<div class="container">
		<form class="form-horizontal" role="form" method="POST" action="/search/" name="buscar">
			{% csrf_token %}
			<div class="row">
				<div class="col-md-5">
					<div class="form-group">
						<label class="control-label col-md-4" for="cat">Categoria:</label>
						<div class="col-md-8">
							<select class="form-control" name="categoria" id="cat">
								{% for c in categoriasOrdenadas%}
									<option>{{c}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
				</div>

				<div class="col-md-5" id="inputs">
					<div class="entry form-group">
						<label class="control-label col-md-4" for="pat1">Patron:</label>
						<div class="input-group col-md-8">
							<input type="text" class="form-control" name="patron1" required="True" id="pat1">
							<span class="input-group-btn">
								<button type="button" class="btn btn-primary btn-add">
      								<span class="glyphicon glyphicon-plus"></span>
    							</button>
							</span>
						</div>
					</div>
				</div>

				<div class="col-md-2">
					<div class="form-group">
						<div class="col-md-8">
							<button type="submit" class="btn btn-primary btn-lg">Buscar</button>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-5">
					<div class="form-group">
						<label class="control-label col-md-4" for="urlsem">URL Semilla:</label>
						<div class="col-md-8">
							<input type="url" placeholder="ejemplo: https://utp.edu.co" class="form-control" name="semilla" id="urlsem">
						</div>
					</div>
  				</div>
			</div>

			<div class="row">
				<div class="col-md-5">
  					<div class="form-group">
						<label class="control-label col-md-4" for="country">Pais:</label>
						<div class="col-md-8">
							<select class="form-control" name="pais" id="country">
								{% for p in paises%}
									{% if p == 'Colombia'%}
										<option selected>{{p}}</option>
									{% else %}
										<option>{{p}}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
  				</div>
			</div>
		</form>

		

		{% if busquedaExitosa %}
			<p class="bg-success">Busqueda realizada.</p>
			<div class="container">
			<h2>Resultados</h2>
				<div class="list-group">
				{% for r in resultados%}
					<a href="{{r}}" target="_blank" class="list-group-item">{{r}}</a>
				{% endfor %}
				</div>
			</div>
		{% endif %}

		{% for c in categoriasAMostrar %}
			<div class="panel panel-primary">
  				<div class="panel-heading">{{c}}</div>
  				<div class="panel-body">
  					<ul class="list-group">
	  					{% for l in categoriasAMostrar|get_item:c %}
	  					<li class="list-group-item">{{l}}</li>
	  					{% endfor %}
					</ul>
  				</div>
			</div>
		{% endfor %}

		


	</div>
{% endblock %}